.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.App h2 span {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: var(--hightlight-color);
  animation: react 0.8s infinite alternate;
  padding: 0.3rem;
  background-color: #fdf6e3;
}

@keyframes react {
  from {
    color: var(--hightlight-color);
  }
  
  to {
    color: #576f75;
  }
}

.App div {
  text-align: left;
}

.App h2, .App h4 {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  margin: 1.4rem 0;
}

.App h2 span, .App h4 span {
  color: var(--hightlight-color);
}

.App div.separator {
  width: 70%;
  height: 5px;
  background-color: var(--hightlight-color);
  margin: 0.6rem;
}

footer {
  font-size: 1.0rem;
  width: calc(100% - 32px);
  margin: 0 auto;
  text-align: left;
}

footer li {
  list-style: none;
  display: inline-block;
  margin: 0.1rem 0.1rem;
}

footer li:first-child {
  margin-left: 0;
}

footer a {
  text-decoration: none;
  color: #9c9c9c;
  transition: color 0.2s linear;
  border: 2px solid transparent;
}

footer a:hover {
  color: var(--hightlight-color);
  border-bottom: 2px solid var(--hightlight-color);
}