* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  --hightlight-color: #FF5A5F
}

body {
  font-family: -apple-system BlinkMacSystemFont, 'Roboto', "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eeeeee;
  color: #3e3e3e;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

#root {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 1.4rem;
}

.center {
  width: calc(100% - 32px);
  margin: 0 auto;
}

.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  height: auto;
  transition: all 0.4s ease-out;
}

.hide {
  opacity: 0;
  transform: translate3d(-100vh, 0, 0);
  height: 0;
  transition: all 0.1s linear;
}